<?xml version="1.0" encoding="UTF-8" ?>

<beans>
    <bean name="dataLoader" class="pizza.DataLoader$Sample"/>

    <bean name="prodRepo" class="pizza.product.HashMapProductRepository"/>
    <bean name="prodService" class="pizza.product.ProductService"/>

    <bean name="custService" class="pizza.customer.CustomerService"/>

    <bean name="ordrService" class="pizza.order.OrderService"/>
</beans>
