<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            https://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <!-- customer -->

    <bean id="address1" class="pizza.customer.Address">
        <constructor-arg name="street" value="Wasserstr. 123"/>
        <constructor-arg name="postalCode" value="40302"/>
        <constructor-arg name="city" value="Atlantis"/>
    </bean>

    <bean class="pizza.customer.CustomerCreator"
          init-method="run">
        <property name="customerService" ref="customerService"/>
        <property name="customers">
            <list>
                <bean class="pizza.customer.Customer">
                    <constructor-arg name="fullName" value="Enrico Pallazzo"/>
                    <constructor-arg name="address" ref="address1"/>
                    <constructor-arg name="phoneNumber" value="0170-222-333-444"/>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="customerService" class="pizza.customer.CustomerService"/>


    <!-- product -->

    <bean class="pizza.product.ProductJdbcDao"
          autowire="constructor"
    />

    <bean class="pizza.product.ProductService"
          autowire="constructor"
    />

    <bean class="pizza.product.ProductSetup"
          autowire="constructor"
          init-method="createProducts"
          depends-on="h2scriptRunner"
    />


    <!-- order -->

    <bean class="pizza.order.OrderService"
          autowire="constructor"
    />


    <!-- other infrastructure -->

    <bean id="h2launcher" class="pizza.H2Launcher"
          init-method="run"
    />

    <bean id="h2scriptRunner" class="pizza.H2ScriptRunner"
          autowire="constructor"
          init-method="run"
    />

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          depends-on="h2launcher">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="${app.data-source.h2.url}"/>
    </bean>


    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/config.properties</value>
            </list>
        </property>
    </bean>

</beans>
