<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            https://www.springframework.org/schema/beans/spring-beans.xsd"
>

    <!-- customer -->

    <bean id="address1" class="pizza.customer.Address">
        <constructor-arg name="street" value="Wasserstr. 123"/>
        <constructor-arg name="postalCode" value="40302"/>
        <constructor-arg name="city" value="Atlantis"/>
    </bean>

    <bean class="pizza.customer.CustomerCreator"
          autowire="constructor"
          init-method="run">
        <property name="customers">
            <list>
                <bean class="pizza.customer.Customer">
                    <constructor-arg name="fullName" value="Enrico Pallazzo"/>
                    <constructor-arg name="address" ref="address1"/>
                    <constructor-arg name="phoneNumber" value="0170-222-333-444"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>
