<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/bootstrap-5.3.3.css" rel="stylesheet"/>
</head>
<body class="p-5">
<div class="container bg-light rounded-2 text-start px-4 py-2">
    <div class="row">
        <div class="col">
            <h1>Product <span th:text="${product.getProductId()}"/></h1>
            <p>
                Name: <span th:text="${product.getName()}"/>
                <br>
                Preis: <span th:text="${#numbers.formatCurrency(product.getPrice())}"/>
            </p>
        </div>
    </div>
</div>
</body>
</html>